In [1]:
#Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
import pandas as pd
import math
import numpy as np

In [7]:
a=pd.Series([1,12,2,3,3,4,1])
a

0     1
1    12
2     2
3     3
4     3
5     4
6     1
dtype: int64

In [16]:
#Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.
list_b=list(a)
# type(list_b)
list_c=a.tolist()
print(type(list_c))

<class 'list'>

In [27]:
#Write a Pandas program to add, subtract, multiple and divide,,compare,smaller,bigger  two Pandas Series
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 9])
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
print(a<b)

0    False
1    False
2    False
3    False
4    False
dtype: bool