In [ ]:
def romanToInt(s):
        """
        :type s: str
        :rtype: int
        """
        d={'I':1,
                    'V':5,
                   'X':10,
                   'L':50,
                   'C':100,
                   'D':500,
                   'M':1000}
        prev='I'
        result=0
        for curr in s[::-1]:
            print("curr",curr)
            if(d[curr]<d[prev]):
                result=result-d[curr]
                print("1",result)
            else:
                print("2 start",result)
                print("d[prev]",d[prev])
                print("prev",prev)
                result=result+d[prev]
                print("2 end ",result)
            prev=curr
        return result

In [ ]:
a=romanToInt("LVIII")
a

curr I
2 start 0
d[prev] 1
prev I
2 end  1
curr I
2 start 1
d[prev] 1
prev I
2 end  2
curr I
2 start 2
d[prev] 1
prev I
2 end  3
curr V
2 start 3
d[prev] 1
prev I
2 end  4
curr L
2 start 4
d[prev] 5
prev V
2 end  9

9

In [1]:
print("hello")

hello

In [6]:
list1 = [1,2,3,4,5]

In [7]:
sum(list1)

15

In [8]:
def sum_of_number(list1):
  result=0
  for item in list1:
    result+=item
  
  return result

In [10]:
sum1=sum_of_number(list1)
sum1

15

In [12]:
def interchange_item(list1):
  first = list1[0]
  last=list1[-1]
  new_list=[]
  list1.remove
  temp=list1[0]
  size=len(list1)
  list1[0]=list1[size-1]
  list1[size-1]=temp
  return list1
interchange_item(list1)

[1, 2, 3, 4, 5]

In [21]:
# Python program to check whether the string is Symmetrical or Palindrome
string1 = "khokho"
string2 = "armmra"
def palindrome(string):
  mid=(len(string)-1)//2
  start=0
  flag=0
  last=len(string)-1
  while(start<=mid):
    if string[start]==string[last]:
      start+=1
      last-=1
    else:
      flag=1
      break

  if flag==0:
    print("palindrome")
  else:
    print("Not a Palindrome")

def symmetrical(string):
  mid=(len(string)-1)//2
  start=0
  last=len(string)
  if mid%2==0:
    mid+=1
  start1=0
  start2=mid
  flag=0
  while(start1<mid and start2<last):
    if(string[start1]==string[start2]):
      start1+=1
      start2+=1
    else:
      flag=1
      break
  if flag==0:
    print("Symnetric")
  else:
    print("Not a Symmetric")
symmetrical(string2)



palindrome(string1)

Not a Symmetric
Not a Palindrome